* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #0d1916;
    color: #edf5f1;
    font-family: Arial, sans-serif;
    transition: .3s;
}

/* LIGHT MODE */

html[data-theme="light"] body {
    background: #f5f7f5;
    color: #14241f;
}

.p1-navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    height: 68px;
    background: #0d1916;
    border-bottom: 1px solid #263832;
    transition: .3s;
}

html[data-theme="light"] .p1-navbar {
    background: #f5f7f5;
    border-color: #dce5df;
}

.p1-nav-inner {
    max-width: 1120px;
    height: 100%;
    margin: auto;
    padding: 0 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.p1-brand {
    display: flex;
    align-items: center;
    gap: 12px;
    color: #edf5f1;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
}

html[data-theme="light"] .p1-brand {
    color: #14241f;
}

.p1-brand i {
    color: #52bea0;
    font-size: 21px;
}

.p1-nav-links {
    display: flex;
    align-items: center;
    gap: 28px;
}

.p1-nav-links a {
    color: #91a59d;
    text-decoration: none;
    font-size: 15px;
    transition: .2s;
}

.p1-nav-links a:hover,
.p1-nav-links a.active {
    color: #edf5f1;
}

html[data-theme="light"] .p1-nav-links a:hover,
html[data-theme="light"] .p1-nav-links a.active {
    color: #14241f;
}

.p1-theme-btn,
.p1-menu-btn {
    width: 38px;
    height: 38px;
    border: 1px solid #263832;
    border-radius: 9px;
    background: transparent;
    color: #edf5f1;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

html[data-theme="light"] .p1-theme-btn,
html[data-theme="light"] .p1-menu-btn {
    border-color: #dce5df;
    color: #14241f;
}

.p1-theme-btn:hover {
    border-color: #52bea0;
    color: #52bea0;
}
html[data-theme="light"] .p1-theme-btn:hover
{
    border-color: black;
    color: black;
}
.p1-menu-btn {
    display: none;
}

@media (max-width: 900px) {

    .p1-nav-inner {
        padding: 0 16px;
    }

    .p1-menu-btn {
        display: flex;
    }

    .p1-nav-links {
        position: absolute;
        top: 68px;
        left: 0;
        right: 0;
        padding: 10px 16px 16px;
        background: #0d1916;
        border-bottom: 1px solid #263832;
        display: none;
        flex-direction: column;
        align-items: flex-start;
        gap: 0;
    }

    html[data-theme="light"] .p1-nav-links {
        background: #f5f7f5;
        border-color: #dce5df;
    }

    .p1-nav-links.open {
        display: flex;
    }

    .p1-nav-links a {
        width: 100%;
        padding: 13px 0;
        border-bottom: 1px solid #263832;
    }

    html[data-theme="light"] .p1-nav-links a {
        border-color: #dce5df;
    }

    .p1-theme-btn {
        margin-top: 14px;
    }
}